
// different font-size for different dpr
@mixin font-dpr($font-size) {
  font-size: $font-size;
  [data-dpr="1"] & {
    font-size: $font-size * 0.5;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 1.5;
  }
}

// font style
@mixin font($size, $line-height, $color, $align:left) {
  @include font-dpr($size);
  line-height: $line-height;
  color: $color;
  text-align: $align;
}

@mixin wh($width, $height){
  width: $width;
  height: $height;
}

//different border-size for different dpr
@mixin border-dpr($border, $num, $color) {
  #{$border}: $num solid $color;
  [data-dpr="2"] & {
    #{$border}: $num*.5 solid $color;
  }
  [data-dpr="3"] & {
    #{$border}: $num *.334 solid $color;
  }
}
