$background-color-f4: #f2f2f2;
$background-color-ff: #fff;

$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-40: 40px;

$color-99: #999;
$color-66: #666;
$color-33: #333;
$color-ff: #fff;
